
<h2>@ViewBag.Title.</h2>
<h2>@ViewData["Title"].</h2>
<h3>@ViewBag.Message</h3>


@foreach (var name in ViewBag.TigerEyeColors)
{
    <p>Color: @name</p>
}

<h1>Tempdata:</h1>
@*<h3>@TempData["info"]</h3>*@

<p>Use this area to provide additional information.</p>
